#headerBar{
	height:123px;
    	position:fixed; top:0; left:0; right:0;
    	background:linear-gradient(90deg,midnightblue,darkblue);
    	border-bottom:solid 6px #B0C4D9; text-align:center;
	z-index:995;
    }
	#headerLogo {
		height:90px; width:auto; object-fit:cover; margin-top:10px; cursor:pointer; transition:0.5s;
	}
	#headerLogo:hover{scale:1.05;}
	#headerContent {
		position:fixed; width:90%; max-width:1000px; border-radius:10px; top:94px;left: 50%; 
	    	background:#B0C4D9; height:56px; 
		transform: translate(-50%); display:flex; overflow:hidden; flex-flow:row;
		z-index:999;
	}
		#headerContent a{align-self:stretch; padding:12px; transition:0.5s; text-align:center; font-size:20px; width:100%; color:black; text-decoration:none;}
		#headerContent a:hover{background:darkcyan; color:white;}

.menuContent{
	position:fixed; width:90%; max-width:1000px; 			
   	background:#8A9AB1; border-radius:0 0 10px 10px;
    	top:140px; left:50%; transform: translate(-50%); padding-top:20px; 
	border: 1px solid black;

	display:none; max-height:0; transition:max-height 0.4s;
	overflow-y:hidden; z-index:998;
}
	@media screen and (max-width:800px){
		#headerContent{width:80%; border: 1px solid black;}
		.menuContent{width:80%; overflow-y:auto;}
	}
	.menuContent .imgHolders {
		display:flex; flex-flow:row;
	}
	.menuContent .imgHolders a{
		width:100%; text-decoration:none; font-size:19px; text-align:center; margin:0; padding:10px; align-self:stretch; transition:0.5s; padding-bottom:20px;
		color:midnightblue;
	}
	.menuContent .imgHolders a:hover{
		background:silver;
	}
	.menuContent .imgHolders a img{
		width:60%; height:auto;
		display:block; margin:auto; margin-bottom:10px;
	}
	#closeMenu{
		position:fixed; top:0; left:0; right:0; bottom:0;
		display:none; z-index:996;
	}
	.txtHolders a {
		display:block; width:100%; margin:0; padding:10px; text-decoration:none; font-size:18px; transition:0.5s;
		text-align:left;
	}
	.HCactive, .txtHolders a:hover{
		background:gray; color:white;
	}

	.headerCollapsible{
		cursor: pointer;
	}
	.HCcontent{
		animation:headerFade 0.5s;
		padding-left:20px;
		display:none;
	}


	@keyframes headerFade{
		0%{ opacity:0;}
		100%{opacity:1;}
	}

#footer {
	margin:0; margin-top:50px;
	width:100%; padding:10px;
	border-top:solid 6px midnightblue; background:silver;
	text-align:center; color:black;
}
	#footerLinks{
		width:100%; max-width:1200px; padding:0; margin:auto;
		display:flex; flex-flow:row;
		margin-bottom:25px;
	}
	#footerLinks div{width:100%; text-align:left; padding-right:15px; margin:0;}
	#footerLinks div a{text-decoration:none; display:block; margin-bottom:10px;} #footerLinks div a:hover{text-decoration:underline;}
	@media screen and (max-width:1000px){
		#footerLinks{flex-flow:column;}
		#footerLinks div{text-align:center; padding:10px; margin-bottom:15px;}
	}
	#footerLogo{
		display:block; height:140px; width:auto; margin:auto;
		object-fit:cover; cursor:pointer;
	}
