/* COLORS
	midnightblue - darkblue
	lightgray
	darkslategray

	MAX WIDTH - 1100px
	margin: top right bottom left
*/

* {  box-sizing: border-box; } html { scroll-behavior: smooth; }
body{	margin:0; margin-top:123px;
	 	font-size:16px; line-height:1.5;
		font-family: 'Anuphan';
    }
h1,h2,h3,h4 { font-family: 'Akatab';}
h1{font-weight:normal; font-size:35px;}
h1.blue, h2.blue, h3.blue, h4.blue{color:midnightBlue;}
h2{font-weight:normal; font-size:30px;}
h3{font-weight:bold; font-size:20px;}
h4{font-weight:bold; font-size:16px;}

/* --- BUTTONS AND USER INTERFACE -- */
a {color:inherit; transition:0.4s;}
	a.btn{display:inline-block; padding:10px; border:2px solid midnightblue; color:midnightblue; border-radius:20px; font-size:18px; text-decoration:none;}
	a.btn:hover{background:#efefef;}
	a.wide{width:90%; max-width:400px; margin:10px;} /* <a class='btn wide'>text</a>

/* --- BANNERS AND HEADERS -- */

.banner {height:600px; width:100%; background:#efefef; margin:0;}
	.banner img {width:100%; height:100%; object-fit:cover; margin:0;}

.titleBar{width:100%; background:linear-gradient(90deg,midnightblue,darkblue); margin:0; padding:10px; text-align:center; color:white;}
.subtitleBar {width:100%; background:lightgray; padding:10px; margin:0; text-align:center;}
	.subtitleBar p {max-width:1100px; margin:auto; margin-top:10px; margin-bottom:10px;}

.logoImage{width:90%; height:auto; max-width:400px; margin:auto;} /* put inside <div class='container center'></div> */

/* -- PAGE BREAKS AND SPACERS -- */

.imgSpacer {width:100%; padding:10px; height:270px;
	    display:flex; text-align:center; margin:10px 0 10px 0;}
	.imgSpacer img{width:100%; max-width:1100px; height:250px; margin:auto; object-fit:cover; border-radius:20px;}

.spacer {width:full; height:2px; background:gray; max-width:1100px; margin:20px auto 20px auto;}


/* -- TEXT AND CONTENT ELEMENTS -- */

.container, .titleContainer{width:100%; max-width:1100px; padding:10px; margin:20px auto 20px auto; border-radius:20px;}
.container.center{text-align:center;}

.titleContainer{text-align:center; background:linear-gradient(90deg,midnightblue,darkblue); color:white;}

.columnContainer{display:flex; width:100%; margin:0 -10px 0 -10px; padding:0; flex-flow:row;}
	.columnContainer img{margin:10px; width:40%; align-self:stretch; object-fit:cover; border-radius:20px;}
	.columnContainer div{margin:10px; width:70%; align-self:center;}
	@media screen and (max-width:600px){
		.columnContainer{flex-flow:column; margin:0 0 0 0; justify-content:center;}
		.columnContainer img, .columnContainer div {width:100%; margin:10px 0 10px 0;}
	}

.fullContainer {width:100%; background:silver; margin:20px 0 20px 0; padding:10px;}

.tileContainer{display:flex; flex-flow:row; flex-wrap:wrap; justify-content:center;}
	.tileContainer .tile{display:block; width:300px; margin:10px; padding:0; border-radius:20px; border:1px solid black; align-self:stretch; transition:0.5s; text-decoration:none;}
		.tileContainer .tile:hover{scale:1.01; background:#efefef;}
		.tileContainer .tile img{margin:0 0 0 0; width:100%; border-radius:19px;}
		.tileContainer .tile div{padding:10px; text-align:left;}
			.tileContainer .tile div h4, .tileContainer .tile div h3{margin:0;} 
			.tileContainer .tile div .subtext{margin:5px 0 0 0; color:gray;}
		@media screen and (max-width:700px){
			.tileContainer{flex-flow:column;}
			.tileContainer .tile{width:100%;}
		}

/* -- DECORATIVE ELEMENTS -- */

.porthole{width:100%; display:flex; flex-wrap:wrap; justify-content:center;}
	.porthole a{width:25%; max-width:200px; min-width:100px; padding:10px; margin:10px auto 10px auto; align-self:stretch; text-align:center;}
	.porthole a img{display:block; width:90%; height:auto; border-radius:20px; margin:0 auto 20px auto; object-fit:cover; transition:0.4s;}
	.porthole a:hover img{scale:1.05;}

.iconContainer{
	display:flex; flex-flow:row; flex-wrap:wrap;
	align-items:flex-start; justify-content:center;
}
	.iconContainer a{width:110px; text-align:center; margin:0; padding:12px; transition:0.5s; text-decoration:none;}
	.iconContainer a img{width:100%; height:auto; transition:0.5s;} 
	.iconContainer a h3{font-weight:normal; font-size:15px; color:midnightblue; margin:5px 0 0 0;}
	.iconContainer a:hover img{scale:1.05;}
	.iconContainer a.active{background:#efefef; border-radius:20px;}
	.iconContainer a.active h3{font-weight:bold;}




